<div class="content">
    <div class="main-content">
        <div class="main-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="display-5 text-center">New Doctor Registration</h2>
                <br>

                <form class="container">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">First Name</label>
                        <input type="text" class="form-control" placeholder="First name">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputEmail4">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last name">
                      </div>
                     
                      <div class="form-group col-md-4">
                        <label for="inputEmail4">Age</label>
                        <input type="number" class="form-control" placeholder="eg. 20">
                      </div>
                      <div class="col-md-6">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Gender</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                          <option selected>Choose...</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">other</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Specialization (if any)</label>
                        <input type="text" class="form-control" placeholder="eg. heart specialist">
                      </div>
                     
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email/UserName</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Password</label>
                          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>


                      <div class="form-row align-items-center">
                        
                        <div class="col-lg-12 my-1 text-center">
                          <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                      </div>


                  </form>
            </div>

        </div>
    </div>
</div>

