<div class="content">
    <div class="main-content">
        <div class="main-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Sr no.</th>
                            <th>test ID</th>
                            <th>Patient</th>
                            <th>Dr.</th>
                            <th>Date</th>
                            <th>Test Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>123</td>
                            <td>Priyang Patel</td>
                            <td>Umang Shah</td>
                            <td>04/02/2021</td>
                            <td><a href="#" class="nav-link " data-toggle="modal" data-target="#sign-out" >
                                click here 
                            </a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>123</td>
                            <td>Priyang Patel</td>
                            <td>Umang Shah</td>
                            <td>04/02/2021</td>
                            <td><a href="#" class="nav-link " data-toggle="modal" data-target="#sign-out" >
                                click here 
                            </a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>123</td>
                            <td>Priyang Patel</td>
                            <td>Umang Shah</td>
                            <td>04/02/2021</td>
                            <td><a href="#" class="nav-link " data-toggle="modal" data-target="#sign-out" >
                                click here 
                            </a></td>
                        </tr>            
                    </tbody>
                </table>
            </div>



           
            
            <div class="modal fade" id="sign-out">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">want to Submit?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  *ngIf="ishemoglobin" [formGroup]="CaseDetailsForm" (ngSubmit)="onSubmit()" >
                                <div class="form-group text-center">
                                    <label for="himoglobin">Hemoglobin</label>
                                    <input type="text" class="form-control" formControlName="Hemoglobin" name="Hemoglobin" placeholder="eg. 10" type="text" 
                                    [ngClass]="{ 'is-invalid': submitted && f.Hemoglobin.errors }"> 
                                    <div *ngIf="submitted && f.Hemoglobin.errors" class="invalid-feedback">
                                        <div *ngIf="f.Hemoglobin.errors.required">Hemoglobin is required</div>
                  
                                       
                                          </div>
                                    <br>
                                    <button type="submit" class="btn text-center btn-success" >Submit</button>

                                </div>
                                     
                                 </form>

                                 <form  *ngIf="isCorona" [formGroup]="CaseDetailsForm2" (ngSubmit)="onSubmit2()" >
                                    <div class="form-group text-center">
                                        <label for="himoglobin">CORONA</label><br>
                                        <input type="radio"  value="Yes" formControlName="Corona" name="Corona"  placeholder="eg. 10"> <span>&nbsp;Yes</span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="radio"  value="No" formControlName="Corona" name="Corona"  placeholder="eg. 10"> <span>&nbsp;No</span>
                                   <br><br> <button type="submit" class=" text-center btn btn-success" >Submit</button>

                                    </div>

                                    </form> 
                                    <br>

                                    <form *ngIf="isDengue" [formGroup]="CaseDetailsForm3" (ngSubmit)="onSubmit3()" >
                                    <div class="form-group text-center">
                                        <label for="himoglobin">Dengue</label><br>
                                        <input type="radio" name="Dengue" value="Yes" formControlName="Dengue" name="Dengue" placeholder="eg. 10"> <span>&nbsp;Yes</span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="Dengue" value="No" formControlName="Dengue" name="Dengue"  placeholder="eg. 10"> <span>&nbsp;No</span>
                                   <br><br> <button type="submit" class="  text-center btn btn-success" >Submit</button>
                                        
                                    </div>
                                    <br>
                               
                               
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Continue</button>
        
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>

