<div class="content">
    <div class="main-content">
        <div class="main-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container">
                    <h2 class="display-5 text-center">Future Appointments</h2>
                <table class="table table-striped text-center">
                    <thead>
                      <tr>
                        <th scope="col">Case Number </th>
                        <th scope="col">Date</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Summary</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>06/02/2021</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>06/02/2021</td>

                        <td>Jacob</td>
                        <td>Thornton</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>06/02/2021</td>

                        <td>Larry</td>
                        <td>the Bird</td>
                       
                      </tr>
                    </tbody>
                  </table>

                </div>
            </div>
        </div>
    </div>
</div>

