<div class="content">
    <div class="main-content">
        <div class="main-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container">
                    <h2 class="display-5 text-center">Case List</h2>
                <table class="table table-striped text-center">
                    <thead>
                      <tr>
                        <th scope="col">Case Number </th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Summary</th>
                        <th>Show More</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Hospitals complement and amplify the effectiveness of many other parts of the health system, providing continuous availability of services for acute and complex .</td>
                        <td><button class="btn btn-primary" data-toggle="modal" data-target="#sign-out">click</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Hospitals complement and amplify the effectiveness of many other parts of the health system, providing continuous availability of services for acute and complex .</td>
                        <td><button class="btn btn-primary" data-toggle="modal" data-target="#sign-out" >click </button></td>

                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Hospitals complement and amplify the effectiveness of many other parts of the health system, providing continuous availability of services for acute and complex .</td>
                        <td><button class="btn btn-primary" data-toggle="modal" data-target="#sign-out" >click</button></td>

                        
                      </tr>
                    </tbody>
                  </table>

                </div>


                <div class="modal fade" id="sign-out">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Case Details</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                               <div class="row">
                                   <div class="col-lg-6">Case no. : 221</div>
                                   <div class="col-lg-6">Case Date: 12/03/2020</div>
                                   <div class="col-lg-12 mt-5 text-center">
                                    <h4>Past Prescriptions</h4>
                                    <table class="table table-striped text-center">
                                        <thead>
                                          <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Prescription</th>
                                            <th scope="col">Note</th>
                                           
                                           
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">14/03/2020</th>
                                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                                            <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">14/03/2020</th>
                                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                                            <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</td>
                                           
                                            
                                          </tr>
                                          <tr>
                                            <th scope="row">14/03/2020</th>
                                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                                            <td>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</td>
                                            
                                          </tr>
                                        </tbody>
                                      </table>



                                        <br>
                                        <form class="row text-center mt-5">

                                            <div class="form-group col-lg-3">
                                                <label for="exampleFormControlInput1">Note</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter note">
                                              </div>
                    
                                            <div class="form-group col-lg-3">
                                              <label for="exampleFormControlInput1">Prescription</label>
                                              <textarea  class="form-control" id="prescriptionbydoc" ></textarea>
                                            </div>
                                            
                                            <div class="form-group col-lg-3">
                                              <label for="exampleFormControlSelect2">Status</label>
                                              <select  class="form-control" id="exampleFormControlSelect2">
                                                <option>Closed</option>
                                                <option>Open</option>
                                               
                                              </select>
                                            </div>
                    
                                            <div class="form-group col-lg-2">
                                               <br>
                                               <button class=" mt-2 btn btn-primary">Submit</button>
                                              </div>
                                            
                    
                                          </form>

                                   </div>
                               </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

