<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="onHome()">                         <i class="fas fa-first-aid"></i> &nbsp;

            <span id="head1">Medical System</span>
        </a>

        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
               
               
               
            </ul>
            <span class="navbar-text actions"><a class="" role="button"
               >Dr. {{this.FirstName}} {{this.LastName}} &nbsp;&nbsp;|  </a></span>
            &nbsp;&nbsp;
            <span class="navbar-text actions"><a class="btn btn-light action-button logout" role="button"
                    (click)="onlogout()">Logout</a></span>
        </div>
    </div>
</nav>


<div class="sidebar ">
    <div><a class="as-link1 cur" (click)="onCaseList()">Case List</a><span class="active-tab1"></span></div>
    <div><a class="as-link2 cur" (click)="onFuture()">Future Appointment</a><span class="active-tab2"></span></div>
    <div><a class="as-link3 cur" (click)="onScheduleLab()">Scheduled Lab</a><span class="active-tab3"></span></div>
    <div><a class="as-link4 cur" (click)="onLabResults()">Lab Results</a><span class="active-tab4"></span></div>

</div>

