<div class="content">
    <div class="main-content">
        <div class="main-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container">
                    <h2 class="display-5 text-center">New Case</h2>
                    <form class="row text-center mt-5">

                        <div class="form-group col-lg-4">
                            <label for="exampleFormControlInput1">Patient Id</label>
                            <input type="text" value="123" disabled class="form-control" id="exampleFormControlInput1" placeholder="eg. 123">
                          </div>

                        <div class="form-group col-lg-4">
                          <label for="exampleFormControlInput1">Appointment Date</label>
                          <input type="date" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        
                        <div class="form-group col-lg-4">
                          <label for="exampleFormControlSelect2">Problem Type</label>
                          <select  class="form-control" id="exampleFormControlSelect2">
                            <option>Corona</option>
                            <option>Dengue</option>
                            <option>Blood</option>
                           
                          </select>
                        </div>

                        <div class="form-group col-lg-12 ">
                            <br>
                           
                            <label for="exampleFormControlSelect2 mt-5">Summary</label><br>
                            <textarea name="summary" id="" class="col-lg-12" ></textarea>
                          </div>

                        <div class="form-group col-lg-12">
                           <br>
                           <button class=" mt-2 btn btn-primary">Schedule</button>
                          </div>
                        

                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

