<div class="content">
    <div class="main-content">
        <div class="main-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container">
                    <h2 class="display-5 text-center">New Case</h2>
                    <form class="row text-center mt-5" [formGroup]="NewCaseRegistrationForm" (ngSubmit)="onSubmit()">

                        <div class="form-group col-lg-3"> 
                            <label for="exampleFormControlInput1">Patient Id</label>
                            <input type="text" formControlName="PatientId" name="PatientId" 
                            [ngClass]="{ 'is-invalid': submitted && f.PatientId.errors }"
                            disabled class="form-control" id="exampleFormControlInput1" placeholder="eg. 123">
                            
                          </div>

                        <div class="form-group col-lg-3">
                          <label for="exampleFormControlInput1">Appointment Date</label>
                          <input type="date" class="form-control" formControlName="Date" name="Date" 
                          [ngClass]="{ 'is-invalid': submitted && f.Date.errors }"
                          id="Date" >
                          
                          <div *ngIf="submitted && f.Date.errors" class="invalid-feedback">
                            <div *ngIf="f.Date.errors.required">Date is required</div>
      
                           
                              </div>
                        </div>
                        
                        <div class="form-group col-lg-3">
                          <label for="exampleFormControlSelect2">Problem Type</label>
                          <select  class="form-control" formControlName="ProblemType" name="ProblemType" 
                          [ngClass]="{ 'is-invalid': submitted && f.ProblemType.errors }" >
                          <option value="Orthopedic">Orthopedic</option>
                          <option value="Gynecologist">Gynecologist</option>
                          <option value="Physician">Physician</option>
                           
                          </select>
                          <div *ngIf="submitted && f.ProblemType.errors" class="invalid-feedback">
                            <div *ngIf="f.ProblemType.errors.required">Problem Type is required</div>
      
                           
                              </div>
                        </div>

                        <div class="form-group col-lg-3">
                          <label for="exampleFormControlSelect2">Doctor</label>
                          <select  class="form-control" formControlName="Doctor" name="Doctor" 
                          [ngClass]="{ 'is-invalid': submitted && f.Doctor.errors }"
                          id="exampleFormControlSelect2">
                            <option *ngFor="let item of this.DoctorList; index as i;" value="{{this.DoctorListId}}">Dr. {{ this.DoctorListFirstName}} {{this.DoctorListLastName}}</option>

                           
                          </select>
                          <div *ngIf="submitted && f.Doctor.errors" class="invalid-feedback">
                            <div *ngIf="f.Doctor.errors.required">Doctor  is required</div>
      
                           
                              </div>
                        </div>

                        <div class="form-group col-lg-12 ">
                            <br>
                           
                            <label for="exampleFormControlSelect2 mt-5">Summary</label><br>
                            <textarea  formControlName="Summary" name="Summary" 
                            [ngClass]="{ 'is-invalid': submitted && f.Summary.errors }"
                            id="" class="col-lg-12" ></textarea>
                            
                          <div *ngIf="submitted && f.Summary.errors" class="invalid-feedback">
                            <div *ngIf="f.Summary.errors.required">Summary is required</div>
      
                           
                              </div>
                          </div>

                        <div class="form-group col-lg-12">
                           <br>
                           <button class=" mt-2 btn btn-primary">Schedule</button>
                          </div>
                        

                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

